<div class="shortcuts" ng-controller="LancherCtrl">
    
    <div class="shortcut transparent-background" ng-click="startApp('com.android.calendar')" data-my-change-color="">
        <span class="glyphicon glyphicon-calendar"></span>
    </div>

    <div class="shortcut transparent-background" ng-click="startApp('com.android.browser')" data-my-change-color="">
        <span class="glyphicon glyphicon-globe"></span>
    </div>

    <div class="shortcut transparent-background" ng-click="startApp('com.android.settings')" data-my-change-color="">
        <span class="glyphicon glyphicon-cog"></span>
    </div>

</div>