npm-debug.log
/nbproject/
/server/npm-debug.log
/server/node_modules/
/server/app/
/app/assets/js/bower_components/
/app/node_modules/
/cordova/hooks/
/cordova/platforms/
/cordova/plugins/
/cordova/www/
/project_name/